@import '../../../pages/ReportPage/styles/variables.scss';
$colorBorder: rgb(218, 216, 220);
$colorBlue: rgb(50, 115, 246);
$colorLightGray: rgb(245, 246, 254);
.radioLabel {
  font-size: $size-14;
  font-weight: bold;

  margin-block-start: 10px;
  margin-right: 20px;
  width: 15%;
  cursor: pointer;
  display: flex;
  align-items: center;

  input {
    margin-right: 10px;
    appearance: none;
    width: 1.15em;
    height: 1.15em;
    outline: 1px solid $colorBorder;
    background-color: $colorLightGray;
    border-radius: 3px;
    cursor: pointer;
  }
  input:checked:before {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    content: '✔';
    font-size: 9px;

    color: white;
    background-color: $colorBlue;
  }
}
