{
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "react/function-component-definition": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off"
  }
}
